---
import Header from "../components/Header.astro";
import Banner from "../components/Banner.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Hola! :)">
	<Header />
	<main class="max-w-6xl p-2 sm:p-10">
		<Banner />
	</main>
</Layout>
