---
---

<section class="flex flex-col sm:flex-row items-center justify-center w-full">
  <div class="w-1/2 text-center h-fit">
    <h1 class="text-xl">
      Hola! soy <span class="text-gradient font-bold">David Viuche</span>
    </h1>
    <p class="my-6">FullStack Developer 🫡</p>
  </div>
  <img
    class="sm:max-w-lg w-full sm:w-1/2"
    src="/coding.svg"
    alt="ilustracion de una persona programando"
  />
</section>
